---
import type {CollectionEntry} from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HeroSection from "../components/BlogHeroSection.astro";
import Sidebar from "../components/BlogSideBar.astro";
// type Props = CollectionEntry<"blog">["data"] & {
//   relatedByTags: CollectionEntry<"blog">[];
//   relatedByCategories: CollectionEntry<"blog">[];
// };

const {
  title,
  description,
  descriptionFB,
  descriptionTW,
  pubDate,
  updatedDate,
  heroImage,
  relatedByTags,
  relatedByCategories,
  author,
} = Astro.props;

// console.log(Astro.props);
console.log(relatedByTags);
console.log(relatedByCategories);

const post = {
  heroImage: heroImage,
  title: title,
  pubDate: pubDate,
  updatedDate: updatedDate,
  author: author,
};
---

<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      descriptionFB={descriptionFB}
      descriptionTW={descriptionTW}
    />

    <style>
      .main-wrapper {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-areas: "sidebar content";
        gap: 1em; /* Adjust as needed */
        /* padding: 1em; */
        margin: 0.5em 1em;
        height: 87%;
        /* background-color: green; */
      }
      .sidebar {
        grid-area: sidebar;
      }

      .content {
        grid-area: content;
      }
      @media (orientation: portrait) {
        .main-wrapper {
          display: grid;
          grid-template-columns: none;
          grid-template-rows: 4fr 0fr;
          grid-template-areas: "content" "sidebar";
          height: 97%;
        }
        .sidebar {
          grid-area: sidebar;
        }

        .content {
          grid-area: content;
        }
      }
      article {
        /* margin-left: 200px; Same as fixed-left's width */
        padding: 20px;
        overflow-y: auto; /* Enables vertical scrolling */
        height: 100vh;
        background-color: white;
        border-radius: 1em;
        height: 100%;
        box-shadow: var(--box-shadow);
      }
    </style>
  </head>

  <body>
    <Header />
    <div class="main-wrapper">
      <Sidebar
        relatedByTags={relatedByTags}
        relatedByCategories={relatedByCategories}
      />

      <article class="content">
        <HeroSection {...post} />
        <div id="content">
          <slot />
        </div>
      </article>
    </div>
    <Footer />
  </body>
</html>
